<md-sidenav-layout>
  <md-sidenav #sidenav>
    <md-card *ngIf="af.auth | async">
      <md-card-title-group>
        <img md-card-avatar [src]="(af.auth | async).github.profileImageURL + '&s=40'">
        <md-card-title>
          {{ (af.auth | async).github.displayName }}
        </md-card-title>
        <md-card-subtitle>
          @{{ (af.auth | async).github.username }}
        </md-card-subtitle>
      </md-card-title-group>
      <md-card-actions>
        <button md-button (click)="af.auth.logout(); sidenav.close()">
          Log out
        </button>
      </md-card-actions>
    </md-card>
    <md-card *ngIf="!(af.auth | async)">
      <md-card-title-group>
        <md-card-title>
          Not Logged In
        </md-card-title>
      </md-card-title-group>
      <md-card-actions>
        <button md-button (click)="af.auth.login()">
          Log in
        </button>
      </md-card-actions>
    </md-card>
  </md-sidenav>
  <md-toolbar color="primary">
    <button (click)="sidenav.open()">
      <i class="material-icons">menu</i>
    </button>

    <span>Issue Zero</span>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-layout>
